.container{
  display: flex;
  margin-left: 0;
}

.cart_img{
  width: 3em;
  height: 3em;
}

.cart_number{
  color: rgba(255, 255, 255, 0.55); 
  font-size: 1.5em;
  margin-top: 0.2em;
  margin-bottom: 0em;
}